////
// Text Transforms Helper
////

.t-t-lowercase {
    text-transform: lowercase !important;
}

.t-t-uppercase {
    text-transform: uppercase !important;
}

.t-t-capitalize {
    text-transform: capitalize !important;
}

.t-t-none {
    text-transform: none !important;
}

.t-t-inherit {
    text-transform: inherit !important;
}