////
// Global variables
////

$color-alto: #d9d9d9;
$color-black: #000;
$color-cod-gray: #151515;
$color-dove-gray: #616161;
$color-dusty-gray: #979797;
$color-mercury: #e5e5e5;
$color-mine-shaft: #3f3f3f;
$color-pomegranate: #f93822;
$color-shamrock: #33cc99;
$color-silver: #bebebe;
$color-steel-blue: #4883b5;
$color-thunderbird: #bb2919;
$color-white: #fff;
$color-wild-sand: #f6f6f6;

$header-height-mobile: 55px;
$header-height-desktop: 135px;
