////
// Hero styles
////

.hero {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 40px 0;
    position: relative;
    text-align: center;

    @media #{$medium-up} {
        padding: 100px 0;
    }

    // hero mobile background
    &__background-mobile {
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 1;
    }// .hero__background-mobile

    // ensuring hero content appears above hero background on mobile
    & > .row {
        position: relative;
        z-index: 2;
    }

    // hero header
    &__header {
        display: inline-block;
        margin: 0 auto;

        &.headline {
            @media #{$small-only} {
                max-width: 85%;
            }
        }

        &__hiddenSub {
            padding-bottom: 0;

            + .headline--sub {
                padding-top: 15px;
            }
        }
    }// .hero__header

    // hero button wrapper
    &__buttons {
        padding: 45px 0 0;

        .button {
            display: block;
            margin: 0 auto;

            @media #{$medium-up} {
                display: inline-block;
            }

            &:first-child {
                margin-bottom: 16px;

                @media #{$medium-up} {
                    margin: 0 19px 0 0;
                }
            }
        }// .button

    }// .hero__buttons

    &__phone {
        color: $color-white;
        display: block;
        font-size: 21px;
        font-weight: 800;
        padding: 25px 0 0;

        &:hover {
            color: $color-white;
        }

        @media #{$large-up} {
            font-size: 38px;
        }

        .ss-phone:before {
            color: $color-pomegranate;
            font-size: 21px;
            vertical-align: middle;

            @media #{$large-up} {
                font-size: 31px;
            }
        }
    }

    &--internal {
        @media #{$large-up} {
            padding: 50px 0;
        }
    }

} //.hero
