<section class="section <%- section.type.replace('-', '--') %> <% if(section.background_type) { %><%= section.background_type %> <% } %>">
    <div class="row">
        <div class="small-12 large-9 large-centered columns">
            <p class="section__intro hide-for-medium"><%= section.intro %></p>
            <div id='product-site'><iframe src='https://traneproducts.com/?channel_id=258' frameborder='0' height='100%' width='100%' vspace='0' hspace='0' marginheight='5' marginwidth='5' scrolling='auto' allowtransparency='true'></iframe></div>
        </div><!-- /.columns -->

    </div><!-- /.row -->

</section><!-- /.section -->
